$primary: #9b57f9;
$secondary: #001e4e;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #32363a;
$surface-bg: #2e3368;
$body-color: #ffffff;
$body-bg: #232339;
$text-muted: #96a8c6;
$card-bg: $surface-bg;
$modal-content-bg: $surface-bg;
$dropdown-bg: $surface-bg;
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: transparent;
$dropdown-link-hover-color: white;
$dropdown-link-active-bg: transparent;
$dropdown-link-active-color: white;
$input-bg: transparent;
$form-file-button-bg: $surface-bg;
$navbar-dark-color: $body-color;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;
$tooltip-bg: $surface-bg;
$tooltip-color: $body-color;
$pagination-bg: $surface-bg;
$pagination-hover-bg: $surface-bg;
$pagination-focus-bg: $surface-bg;
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;
$pagination-active-bg: $surface-bg;
$pagination-active-color: $primary;
$pagination-color: $body-color;
$pagination-hover-color: $primary;
$pagination-focus-color: $primary;
$input-placeholder-color: rgba($body-color, 0.65);
$code-color: rgb(2, 248, 150);
$enable-negative-margins: true;

@import 'bootstrap/scss/bootstrap';

code {
  background-color: $dark; // You can use any other variable like $gray-200
  border-radius: 0.3rem;
  font-size: 0.875rem;
}
